.contactForm{
    margin: 25px 15px;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 30px ;

}

.contactForm h2{
    margin: 10px 0;
    font-size: 30px;
}


.form-control{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-control label{
    font-size: 18px;
    font-weight: 500;
}

.form-control input{
    padding: 5px 5px 5px 10px;
    height: 40px;
    font-size: 15px;
   
}

.btn{
    padding: 10px 25px;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}